<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - Show Product</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          media="screen"
          rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          media="screen" rel="stylesheet" th:href="@{css/spring-core.css}"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <h2>Show Product</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Product Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${tariff.id}">Product Id</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${tariff.description}">Description</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Price:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${tariff.price}">Price</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Image URL:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${tariff.imageUrl}">Image</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Are Messages Sent:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${tariff.messageReceived}">Are Messages Sent</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Message Count:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${tariff.messageCount}">5</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-8">
            <a th:href="@{/tariff/indexProduct/{productId}/(productId = ${tariff.id})}">
                Send emails through queue listener</a>
        </div>
    </div>
</div>

</body>
</html>