<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:head>
        <title>Error Page</title>
    </h:head>
    <h:body>
        <h:form>
            <p>
                To our chagrin, an internal error has occurred in this
                program. Please contact technical support.
            </p>
            <p>
                If instructed by our support staff, please
                copy and paste the following report into an email message
            </p>
            <h:inputTextarea value="#{error.stackTrace}" rows="40" cols="80"
                             readonly="true"/>
        </h:form>
    </h:body>
</f:view>
</html>
